body{
    height: 100%;
}
#filterOptions>h1{
color: black;
}

#filterOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
  }
  
  #filterOptions {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  #confirmButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

main>div{

    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    height: 97%;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    overflow-x: auto;
    min-height: 809px;
    display: flex;
        flex-wrap: wrap;
}

main>div>nav{
    display: flex;
    justify-content: center;
   
}

main>div>div{
    display: flex;
   
    margin: 0 auto;
    margin-top: 10px;
    height: 250px;
    background-color: crimson;
    width: 45%;
    border-radius: 5px;

}

main>div>div>div{
    border-radius: 5px;
    display: flex;
    width: 97%;
    height: 230px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>div>div>div>p{
color: black;
}
main>div>div>div>img{
    width: 95%;
    height: 180px;


    }

    p{
        margin: 0;
    }
    .filtro{
          display:none;
      }
      .conte{
          position: absolute;
          width: 100%;
          z-index: 1;
          height: 300px;
          overflow-y: auto;
      }

 .alert-button {
     position: fixed;
     bottom: 20px;
     left: 20px;
     background-color: blue;
     color: white;
     border: none;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     font-size: 24px;
     cursor: pointer;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     z-index: 1000; /* Ensure the button stays on top */
 }

 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.5);
     justify-content: center;
     align-items: center;
 }

 .modal-content {
     background-color: white;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
     max-width: 500px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     position: relative;
 }

 .close-button {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close-button:hover,
 .close-button:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }
.modal-content>p{
    color: black;
}
.level {
    margin-top: 20px;
}

.color-line {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
main p {
    color: black;
}
main h2 {
    color: black;
}
 @media only screen and (max-width: 660px) {
    main>div{
    flex-direction:column;
    width:97%;
    }
    main>div>div{
    width:95%;
    height: 290px;
    }
    main>div>div>div{
    height: 270px;
    }

     }
      @media only screen and (max-width: 460px) {

header{
justify-content: flex-start;
}
       }

          @media only screen and (max-width: 830px) {
       main>div>div{

           height: 290px;
           }
           main>div>div>div{
           height: 270px;
           }

              }