main{
    height: calc(100% - 150px);
    margin: 0;
}
#a1,#a2{
display:none;
}
#conti > form > div:nth-child(2) > div:nth-child(1) > div{
height:100px;
}
#conti > form > div:nth-child(2) > div:nth-child(2) > div{
height:200px;
}
#conti{
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    height: 93%;

    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 5px;

margin-right: 9px;
}
footer{
    height: 75px;
}
header{
    height: 75px;
}
#img{
   
    display: flex;
    flex-direction: column-reverse;
 
    width: 300px;
    margin-bottom: 30%;
}
#conimg{
    margin-left: 10px;
    display: flex;
    align-items: center;
    float: left;
    height: 93%;
    
}
#conedi{
    margin-left: 10px;
    width: 200px;
    display: flex;
    float: left;
    height: 93%;
    align-items: center;
    justify-content: space-evenly;
}
#conedi>hr{
    height: 60px;
    width: 2px;
    background-color: black;
    border-color:black ;

}

main::after{
    content: "";
    display: table;
    clear: both;
}

img{
    height: 300px;
}

main>h2{
    color: black;
    text-align: center;
    margin: 0;
}
#conti > *{
    margin-left: 10px;


}

button{

margin-top:20px;

}

#conti > form > div:nth-child(2) > div.form-group{
width:50%;
}
.filtro{
    display:none;
}

.conte{
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 200px;
    overflow-y: auto;
}
.form-control{
    background-color: rgba(21, 8, 100, 0.40);
    color:white;
}
.form-control::-webkit-input-placeholder {
    color: white;
    opacity:  1;
  }
@media only screen and (max-width: 760px) {

    main{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    header {
        height: auto;
        padding: 20px;
    }
    main {
        padding: 0 10px;
    }
    #conimg, #conedi {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #conimg img {
        height: 100px;
        width: 100px;
    }
    #conedi hr{
        display: none;
    }
    #conti{
        margin-bottom: 10px;
    }
           }










